body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

/* New Jotter */
main {
    display: none;
    width: 100%;
    height: 100vh;
    background: rgba(12, 12, 12, 0.6);
    z-index: 9999;
    position: fixed;
    top: 0;
    flex-direction: column;
    align-items: center;
}

textarea {
    width: 350px;
    background: snow;
    border-radius: 5px;
    border: none;
    padding: 10px;
    letter-spacing: 1px;
}

textarea:focus {
    outline: 0;
}

.tools.edit {
    margin-top: 10px;
    width: 350px;
    display: flex;
    border-radius: 10px;

}

.tools.edit header {
    padding: 0 10px;
}

.tools.edit button {
    display: flex;
    font-weight: 100;
    height: 30px;
    width: 50px;
    margin: 10px 0px;
    text-align: center;
    justify-content: center;
}

.tools.color {
    margin-top: 20px;
    display: flex;
}

.tool {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 5px;
    border: 2px solid white;
    box-shadow: 0px 1px 3px silver, 1px 0px 3px silver;
}


/* Jots Display */

section.jots-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    margin: 10px;
    box-shadow: 0px 1px 3px silver, 1px 0px 3px silver;
    border-radius: 5px 5px 0px 0px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 5px 10px;
    border-bottom: 1px dashed silver;
}

.card-body {
    min-height: 80px;
    padding: 10px;
    word-break: break-all;
    word-wrap: break-word;
}

.add-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9999;
}

*:focus {
    outline: 0;
}


/* Color definitions */

.bg-primary {
    background: #007bff;
}

.bg-secondary {
    background: #6c757d;
}

.bg-success {
    background: #28a745;
}

.bg-danger {
    background: #dc3545;
}

.bg-warning {
    background: #ffc107;
}

.bg-info {
    background: #17a2b8;
}

.bg-light {
    background: #f8f9fa;
}

.bg-dark {
    background: #343a40;
}

.text-primary {
    color: #007bff;
}

.text-secondary {
    color: #6c757d;
}

.text-success {
    color: #28a745;
}

.text-danger {
    color: #dc3545;
}

.text-warning {
    color: #ffc107;
}

.text-info {
    color: #17a2b8;
}

.text-light {
    color: #f8f9fa;
}

.text-dark {
    color: #343a40;
}